<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movieflix</title>
</head>

<body>
    <!-- Create your text area form here -->
    <!-- Text Area Form Goes Here -->
    <!-- <textarea name="movieInput" id="movieInput" cols="30" rows="10">Movies seperated by comma</textarea> -->
    <!-- <button onclick="google.com" id="sendButt">Send</button> -->
    <form action="myForm" method="post">
        <input type="text" name="movieInput">
        <input type="submit" value="Send">
    </form>
    <!-- <a href="/myForm">test</a> -->
</body>

</html>