<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title>Movieflix</title>
</head>

<body>
  <!-- Your Code Goes Here -->
  <!--  -->
  <!-- EVERYTHING BELOW is put there to test CSS, remove it -->
  <!--  -->
  <!--  -->
  <!--  -->
  <div class="header"><h1><%= movieTitle %></h1></div>
  <div class="container">
    <form>
      <fieldset class="todo-list">
        <p class="todo-list__label"><%= movieDes %></p>
        <a class="todo-list__title" href="/myForm">Return to Home</a>
        <!-- I use the CSS in this way to make it look decent (aka NOT black text on a dark blue backdrop) without editing the provided CSS file. -->
    </form>
  </div>

</body>

</html>